/* css for sample app custom view */

#ov-int-mon-main {
    padding: 20px;
}
.light #ov-int-mon-main {
    color: navy;
}
.dark #ov-int-mon-main {
    color: #88f;
}

#ov-int-mon-main .button-panel {
    margin: 10px;
    width: 200px;
}

.light #ov-int-mon-main .button-panel {
    background-color: #ccf;
}

.dark #ov-int-mon-main .button-panel {
    background-color: #444;
}

#ov-int-mon-main .int-mon-button {
    cursor: pointer;
    padding: 4px;
    text-align: center;
}


.light #ov-int-mon-main .int-mon-button {
    color: white;
    background-color: #99d;
}
.dark #ov-int-mon-main .int-mon-button {
    color: black;
    background-color: #aaa;
}

/*---------------------------------------------------------------------------*/
#ov-int-mon-main h2 {
    display: inline-block;
}
#ov-int-mon-main .table-body{
    display: inline-block;
    overflow-y: scroll;
    max-height:100px;
}

/* Panel Styling */
#ov-int-mon-main-item-details-panel.floatpanel {
    position: absolute;
    top: 115px;
}

.light #ov-int-mon-main-item-details-panel.floatpanel {
    background-color: rgb(229, 234, 237);
}
.dark #ov-int-mon-main-item-details-panel.floatpanel {
    background-color: #3A4042;
}

#ov-int-mon-main-item-details-panel h3 {
    margin: 0;
    font-size: large;
}

#ov-int-mon-main-item-details-panel h4 {
    margin: 0;
}

#ov-int-mon-main-item-details-panel td {
    padding: 5px;
}
#ov-int-mon-main-item-details-panel td.label {
    font-style: italic;
    opacity: 0.8;
}