<!-- partial HTML -->
<div id="ov-int-mon-main">
<!--
    <div class="button-panel">

        <div class="my-button" ng-click="getData()">
            Fetch Data
        </div>
    </div>

    <div class="data-panel">
        <table>
            <tr>
                <td> Number </td>
                <td class="number"> {{data.number}} </td>
            </tr>
            <tr>
                <td> Square </td>
                <td class="number"> {{data.square}} </td>
            </tr>
            <tr>
                <td> Cube </td>
                <td class="number"> {{data.cube}} </td>
            </tr>
        </table>

        <p>
            A message from our sponsors:
        </p>
        <p>
            <span class="quote"> {{data.message}} </span>
        </p>
    </div>
    -->
    <div class="input-panel">  
        <div>
            <p>
            Src Address <input type="text" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]{1,2}$" ng-model="ip4SrcPrefix">
            Dst Address <input type="text" required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]{1,2}$" ng-model="ip4DstPrefix">
            Src Port <input type="number" ng-model="ip4SrcPort">
            Dst Port <input type="number" ng-model="ip4DstPort">
            </p>
        </div>
    </div>

    <div class="button-panel">
        <div class = "int-mon-button" ng-click="sendFlowFilterString()">
            Deploy
        </div>
    <div>


</div>
