<!-- partial HTML -->
<div id="ov-int-mon-flow-table">

<!-- <select ng-model="switchSelect" ng-options="sw.ID as sw.Title for sw in sws"
    style="position:absolute;left:700px;top:200px;" 
    ng-model="selectedSw" ng-change="onChange(selectedSw)">
    <option value=""> select a switch </option>
    
</select> -->
 <input type="text" ng-model="swId" style="position:absolute;left:850px;top:200px;">
 <div class="button-panel">
        <button type="button" class = "int-mon-button" ng-click="watchHopLatency()"
        style="position:absolute;left:850px;top:250px;">
            Watch
        </button>
    </div>

    <canvas height="400" width="800"
         class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>

    <div class="tabular-header">
        <!-- <h2>Items ({{tableData.length}} total)</h2> -->
        <div class="ctrl-btns">
            <div class="refresh" ng-class="{active: autoRefresh}"
                 icon icon-id="refresh" icon-size="36"
                 tooltip tt-msg="autoRefreshTip"
                 ng-click="toggleRefresh()"></div>
        </div>
    </div>

    <div class="summary-list" onos-table-resize>

            <div class="table-header" onos-sortable-header>
                <table>
                    <tr>
                        <td colId="id" width="10%" sortable>FID </td>
                        <td colId="srcAddr" width="15%" sortable>Src Address </td>
                        <td colId="dstAddr" width="15%" sortable>Dst Address </td>
                        <td colId="monData" sortable>Monitoring Data </td>
                    </tr>
                </table>
            </div>

            <div class="table-body">
            <table>
                <tr ng-repeat="item in tableData track by $index"
                    ng-click="selectCallback($event, item)"
                    ng-class="{selected: item.id === selId}">
                    <td width="5%">{{item.id}}</td>
                    <td width="10%">{{item.srcAddr}}</td>
                    <td width="10%">{{item.dstAddr}}</td>
                    <td>{{item.monData}}</td>
                
                </tr>
            </table>
        </div>

    </div>

    <!-- <ov-int-mon-flow-table-item-details-panel></ov-int-mon-flow-table-item-details-panel> -->
</div>
